/* Modelo de Caixa (Box Model) */

/* 
Todo elemento HTML é tratado como uma "caixa", composta por:
-> content: conteúdo principal;
-> padding: espaço interno entre o conteúdo e a borda;
-> border: linha que envolve o elemento;
-> margin: espaço externo entre elementos;


*/
*{text-align: center; text-shadow: 3px 3px 2px black; border-radius: 15px;}

body{background-color: slategrey; width: auto;}

.box{background-color: darkslategrey; width: 600px; margin: auto; padding: 1px;}

h1{color: darkorchid;}

p{color: aqua;}